# MF013 Análisis de inversión:  Introducción a Python
Por Carlos Crespo Elizondo, MSF<br>
2021-09-06

## Función `print`

In [5]:
print("Hola mundo!!!")

Hola mundo!!!

## Operaciones matemáticas

### Operadores matemáticos básicos
<table>
    <tr>
        <th>Operación</th>
        <th>Símbolo</th>
    </tr>
    <tr>
        <td>Suma</td>
        <td>+</td>
    </tr>
    <tr>
        <td>Resta</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Multiplicación</td>
        <td>*</td>
    </tr>
    <tr>
        <td>División</td>
        <td>/</td>
    </tr>
    <tr>
        <td>Exponente</td>
        <td>**</td>
    </tr>
</table>

#### Suma

In [8]:
print(54+5)
print(1+1)

59
2

#### Resta

In [9]:
54-8

46

#### Multiplicación

In [10]:
5*5

25

#### División

In [11]:
8/2

4.0

#### Elevar a un exponente

In [12]:
2**3

8

#### Raices

In [13]:
8**.5

2.8284271247461903

In [14]:
27**(1/3)

3.0

## Variables

In [17]:
a = 8000
b = 200

In [18]:
a + b

8200

In [20]:
c = b**.5
print(c)

14.142135623730951

In [21]:
c

14.142135623730951

In [22]:
mensaje = "Hola mundo!!!"
print(mensaje)

Hola mundo!!!

In [23]:
mensaje = 'Mensaje nuevo'
print(mensaje)

mensaje_imprimir =

Mensaje nuevo

### Reglas para nombrar variables

El nombre de las variables:
* _Solo pueden contener letras, números y guión bajo_.
* _Pueden empezar con letra o guión bajo, pero nunca con un número_.
* _No se permiten espacios.  Puedes usar guión bajo como separador de dos palabras_.
* _Debe de ser corto pero descriptivo_.
* _CASE SENSITIVE_
* _Tener cuidado cuando al usar "l" o "O", se pueden confundir con "1" y "0"_.
* _No usar nombres de funciones de Python, se borrará la utilidad de la función_.

De acuerdo a "_PEP 8 -- Style Guide for Python Code_", el nombre de las variables debe:
* _Las variables deberán de ser en minúsculas y las palabras separadas por guión bajo para facilitar su lectura_.

Algunos estilos para nombrar variables:
* nombre_variable
* nombreVariable
* NombreVariable

## Tipos de variable
Python tiene varios tipos de datos.  En el curso solo usaremos cuatro de ellos:

<table>
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Descripción</th>
        <th>Ejemplo</th>
    </tr>
    <tr>
        <td>Interger</td>
        <td>int</td>
        <td>Números enteros</td>
        <td>234</td>
    </tr>
    <tr>
        <td>Float</td>
        <td>float</td>
        <td>Números con decimales</td>
        <td>234.56</td>
    </tr>
    <tr>
        <td>String</td>
        <td>str</td>
        <td>Texto ó interpretación de núm. como texto</td>
        <td>'Hola', '234'</td>
    </tr>
    <tr>
        <td>Boolean</td>
        <td>bool</td>
        <td>Verdadero o Falso</td>
        <td>True, False</td>
    </tr>
</table>

In [24]:
4 == 5

False

## Strings

In [26]:
print("mensaje")

mensaje

In [28]:
print('2.54cm es igual a 1" ')

2.54cm es igual a 1"

In [29]:
print("Vamonos al Carl's Jr.")

Vamonos al Carl's Jr.

### Cambiando mayúsculas y minúsculas en un string

In [30]:
nombre = 'carlos crespo elizondo'

In [31]:
print(nombre.title())

Carlos Crespo Elizondo

In [32]:
nombre

'carlos crespo elizondo'

In [33]:
print(nombre.upper())

CARLOS CRESPO ELIZONDO

In [34]:
print(nombre.lower())

carlos crespo elizondo

In [35]:
print('Todas LAS lETRAS a minúsculas'.lower())

todas las letras a minúsculas

In [38]:
variable = 'Todas LAS lETRAS a minúsculas'

print(variable.title())
print(variable.upper())
print(variable.lower())

Todas Las Letras A Minúsculas
TODAS LAS LETRAS A MINÚSCULAS
todas las letras a minúsculas

### Literales de texto

In [39]:
print('Vamonos al Carl\'s Jr.')

Vamonos al Carl's Jr.

In [40]:
print('Vamonos al Carl\s Jr.')

Vamonos al Carl\s Jr.

In [43]:
print(r'C:\nombre')

C:\nombre

In [44]:
print('REPORTE DIARIO')
print('')
print('Retorno:')
print('   AMX = 1.3%')
print('   FEMSAUBD = 2.0%')

REPORTE DIARIO

Retorno:
   AMX = 1.3%
   FEMSAUBD = 2.0%

LINEA NUEVA<br>
\n<br>
\t<br>

In [45]:
print('REPORTE DIARIO')
print('\nRetorno:')
print('\tAMX = 1.3%')
print('\tFEMSAUBD = 2.0%')

REPORTE DIARIO

Retorno:
	AMX = 1.3%
	FEMSAUBD = 2.0%

### Multiplicar strings

In [46]:
print('a'*20)

aaaaaaaaaaaaaaaaaaaa

In [48]:
print('REPORTE DIARIO')
print('-'*15)
print('\nRetorno:')
print('\tAMX = 1.3%')
print('\tFEMSAUBD = 2.0%')

REPORTE DIARIO
---------------

Retorno:
	AMX = 1.3%
	FEMSAUBD = 2.0%

### Concatenar strings

In [49]:
nombre = 'carlos'
apellido = 'crespo'

In [50]:
print('Me llamo ' + nombre + apellido)

Me llamo carloscrespo

In [51]:
print('Me llamo ' + nombre +' ' + apellido)

Me llamo carlos crespo

In [52]:
print('Me llamo ' + nombre.title() +' ' + apellido.upper())

Me llamo Carlos CRESPO

### Eliminar espacios en blanco

In [53]:
accion = 'cemexcpo '
print(accion)

cemexcpo

In [60]:
accion = 'cemexcpo '

In [57]:
print(accion.rstrip())

cemexcpo

In [56]:
accion == 'cemexcpo'

False

In [58]:
accion = accion.rstrip()

In [59]:
accion == 'cemexcpo'

True

In [61]:
izq = ' a la izquierda'
print(izq)

 a la izquierda

In [62]:
print(izq.lstrip())

a la izquierda

In [63]:
izq = izq.lstrip()

In [65]:
dos_lados = ' 8 + 2 = 10 '
dos_lados = dos_lados.strip()
dos_lados

'8 + 2 = 10'

### Concatenar números y string

In [66]:
dia = 7
print('Hoy es ' + dia + ' de septiembre')

TypeError: can only concatenate str (not "int") to str

In [67]:
dia = 7
print('Hoy es ' + str(dia) + ' de septiembre')

Hoy es 7 de septiembre

In [68]:
dia * 2

14

In [69]:
type(dia)

int

In [70]:
type(mensaje)

str

### f-strings o "formated string literals"

#### Operador %

In [72]:
print('Hola mi nombre es %s' %nombre)

Hola mi nombre es carlos

In [73]:
pi = 3.1416
print('Las primeras 4 decimales de pi son %s' %pi)

Las primeras 4 decimales de pi son 3.1416

In [74]:
pi = 3.1416
e = 2.7182
print('Las primeras 4 decimales de pi son %s, del número e son %s' %(pi,e))

Las primeras 4 decimales de pi son 3.1416, del número e son 2.7182

#### format( )

In [75]:
print('Las primeras 4 decimales de pi son {}, del número e son {}'.format(pi,e))

Las primeras 4 decimales de pi son 3.1416, del número e son 2.7182

In [76]:
print('Las primeras 4 decimales de pi son {valor_pi}, del número e son {valor_e}'.format(valor_e=e, valor_pi=pi))

Las primeras 4 decimales de pi son 3.1416, del número e son 2.7182

#### f-string

In [77]:
print(f'Las primeras 4 decimales de pi son {pi}, del número e son {e}')

Las primeras 4 decimales de pi son 3.1416, del número e son 2.7182

In [78]:
ingresos = 1000000
print(ingresos)

1000000

In [79]:
print(f'Las ventas del día de hoy fueron {ingresos}')

Las ventas del día de hoy fueron 1000000

In [80]:
print(f'Las ventas del día de hoy fueron {ingresos:,}')

Las ventas del día de hoy fueron 1,000,000

In [81]:
ingresos = 1000000.534556

In [84]:
print(f'Las ventas del día de hoy fueron {ingresos:.2f}')

Las ventas del día de hoy fueron 1000000.53

In [86]:
print(f'Las ventas del día de hoy fueron {ingresos:,.2f}')

Las ventas del día de hoy fueron 1,000,000.53

## Función `input`

In [87]:
input('Cual es el código ISO del peso mexicano?: ')

Cual es el código ISO del peso mexicano?: mxn

'mxn'

In [88]:
codigo_peso = input('Cual es el código ISO del peso mexicano?: ')

Cual es el código ISO del peso mexicano?: mxn

In [90]:
codigo_peso = (input('Cual es el código ISO del peso mexicano?: ')).upper()

Cual es el código ISO del peso mexicano?: mxn

In [91]:
print(codigo_peso)

MXN

In [92]:
tasa = input('Cual es la tasa de interes: ')

Cual es la tasa de interes: .1

In [94]:
type(tasa)

str

In [95]:
tasa = float(input('Cual es la tasa de interes: '))

Cual es la tasa de interes: .1

In [96]:
type(tasa)

float

## Nuestro "primer" programa de Python (por lo menos en la clase)
El programa consiste en preguntarle al usuario:
* La cantidad de dinero que va a invertir el cliente por un año.
* La tasa de interés anual simple pactada.
La tasa de interés debera de ser ingresada en decimales no en porcentaje.<br><br>
El programa debera de calcular:
* El interés generado durante el año
* El saldo final del cliente

Al final el programa deberá de desplegar:
1. El monto del interés generado durante el periodo
1. El saldo final de la cuenta

In [97]:
inversion = float(input('Cantidad a invertir: '))
tasa = float(input('Tasa de interés: '))

interes = inversion * tasa
saldo_final = inversion + interes

print('El interés generado en el periodo fue ' + str(interes))
print('El saldo final del periodo es de ' + str(saldo_final) + ' pesos.')

Cantidad a invertir: 1000000
Tasa de interés: .5
El interés generado en el periodo fue 500000.0
El saldo final del periodo es de 1500000.0 pesos.

# TODOS COMETEMOS ERRORES
Todos los programadores cometemos errores.  Los buenos programadores crean errores, pero también saben como responder a los errores de manera eficiente.