# MF013 Análisis de inversión:  Introducción a Python
Por Carlos Crespo Elizondo, MSF<br>
Clase del 14 de septiembre 2021

# Sobre la clase 1 (7-sep-'21)

Puntos abarcados durante la clase 1
1. Instalamos Python através de Anaconda o Google Colab
1. Vimos la función `print( )`
1. Las operaciones matemáticas
1. Las variables
1. Strings
1. Concatenar 
1. F-strigs
1. La función `input( )`
1. El programa para calcular el interés y saldo final

# Objetivos de la Clase 2
Introducir los siguientes conceptos:
* Listas
* Tuplas
* Diccionarios
* Función `range( )`
* For loops

# Situación

In [2]:
btc_0910 = 45000
btc_0911 = 45600
btc_0912 = 46700
btc_0913 = 46000
btc_0914 = 50000

In [3]:
eth_0911 = 4560
eth_0912 = 4670
eth_0913 = 4600
eth_0914 = 5000

In [4]:
dog_0911 = .4560
dog_0912 = .4670
dog_0913 = .4600
dog_0914 = .5000

# Listas

In [5]:
# Lista vacía:
lista_btc = []

# Lista con datos numéricos:
precio_eth = [4500, 4400, 1234, 345653, 5000]

#Lista de texto:
nombres_criptos = ['Btc', 'Eht', 'Dog', 'Ltc', 'Ada']

lista_mixta = ['Btc', 23, False] # Lista mixta

In [6]:
lista_btc

[]

In [7]:
print(precio_eth)

[4500, 4400, 1234, 345653, 5000]

In [8]:
type(precio_eth)

list

## Accesar a un elemento de la lista

La posición `index` empieza en 0, y *__NO EN 1__*.
<table>
    <tr>
        <th>precio_eth</th>
        <th>4500,</th>
        <th>4600,</th>
        <th>4400,</th>
        <th>4800,</th>
        <th>5000,</th>
    </tr>
    <tr>
        <td>Index</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
</table>

In [13]:
precio_eth[0]

4500

In [14]:
print(precio_eth[2])

1234

In [15]:
print(precio_eth[4])

5000

## Accesar al último elemento de la lista

Index e Index-1
<table>
    <tr>
        <th>precio_eth</th>
        <th>4500,</th>
        <th>4600,</th>
        <th>4400,</th>
        <th>4800,</th>
        <th>5000,</th>
    </tr>
    <tr>
        <td>Index</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Index-1</td>
        <td>-5</td>
        <td>-4</td>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
</table>

In [16]:
print(precio_eth[4])
print(precio_eth[-1])

5000
5000

## Usar valores individuales de una lista

In [18]:
mf013 = ['daniel', 'daniel r.', 'jr Mena', 'eduardo', 'jorge', 'raquel', 'brenda']

In [19]:
print(f'{mf013[-1]} tiene un expertis muy alto en finanzas')

brenda tiene un expertis muy alto en finanzas

In [20]:
print(f'{mf013[1].upper()} tiene un expertis muy alto en finanzas')

DANIEL R. tiene un expertis muy alto en finanzas

In [21]:
print(f'{mf013[-2].upper()} tiene un expertis muy alto en finanzas')

RAQUEL tiene un expertis muy alto en finanzas

In [22]:
print(precio_eth)

[4500, 4400, 1234, 345653, 5000]

In [25]:
(precio_eth[1] - precio_eth[0])/precio_eth[0]

-0.022222222222222223

## Cambiar, agregar y eliminar elementos de una lista

### Modificar elementos de una lista

In [26]:
carros_electricos = ['tesla3', 'i3', 'i8', 'jettaGLI', 'volt']

In [27]:
carros_electricos[4]

'volt'

In [28]:
carros_electricos[3]

'jettaGLI'

In [29]:
carros_electricos[3] = 'leaf'
print(carros_electricos)

['tesla3', 'i3', 'i8', 'leaf', 'volt']

### Agregar un elemento al final de la lista

In [30]:
carros_electricos.append('e-tron')
print(carros_electricos)

['tesla3', 'i3', 'i8', 'leaf', 'volt', 'e-tron']

### Agregar un elemento en un lugar específico de la lista

In [31]:
carros_electricos.insert(1, 'teslaS')
print(carros_electricos)

['tesla3', 'teslaS', 'i3', 'i8', 'leaf', 'volt', 'e-tron']

### Eliminar un elemento de una lista

#### Eliminar utilizando `del`

In [32]:
carros_electricos[3]

'i8'

In [33]:
del carros_electricos[3]
print(carros_electricos)

['tesla3', 'teslaS', 'i3', 'leaf', 'volt', 'e-tron']

#### Eliminar utilizando el método `pop`

In [34]:
mi_proximo_carro = carros_electricos.pop(1)
print(mi_proximo_carro)

teslaS

In [35]:
print(carros_electricos)

['tesla3', 'i3', 'leaf', 'volt', 'e-tron']

#### Eliminar por su valor

In [36]:
carros_electricos.remove('i3')
print(carros_electricos)

['tesla3', 'leaf', 'volt', 'e-tron']

In [37]:
carros_electricos.append('tesla3')
carros_electricos.remove('tesla3')

In [38]:
print(carros_electricos)

['leaf', 'volt', 'e-tron', 'tesla3']

> Cuando el valor a eliminar se repite varias veces en la lista, el método `remove( )`, elimina unicamente el primer elemento que encuentre.

### Organizar una lista

#### Arreglar una lista de manera PERMANENTE con el método `sort( )`

In [40]:
print(precio_eth)

[4500, 4400, 1234, 345653, 5000]

In [41]:
precio_eth.sort()
print(precio_eth)

[1234, 4400, 4500, 5000, 345653]

In [42]:
print(precio_eth)
precio_eth.sort(reverse=True)
print(precio_eth)

[1234, 4400, 4500, 5000, 345653]
[345653, 5000, 4500, 4400, 1234]

#### Arreglar una lista de manera NO-PERMANENTE con la función `sorted( )`

In [43]:
sorted(precio_eth)

[1234, 4400, 4500, 5000, 345653]

In [44]:
precio_eth

[345653, 5000, 4500, 4400, 1234]

#### Encontrar la longitud de una lista con la función `len( )`

# Tuplas

In [45]:
tupla = (1, 2, 3, 4)
print(tupla)
print(type(tupla))

(1, 2, 3, 4)
<class 'tuple'>

In [46]:
print(tupla[2])
print(tupla[-2])

3
3

In [47]:
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [48]:
tupla.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
tupla = (10, 2, 3, 4)

In [50]:
tupla

(10, 2, 3, 4)

# Diccionarios

In [51]:
precio_eth

[345653, 5000, 4500, 4400, 1234]

In [52]:
fechas = ['2021-09-01', '2021-09-02', '2021-09-03','2021-09-04','2021-09-05']
print(len(precio_eth))
print(len(fechas))

5
5

In [53]:
print('REPORTE PRECIOS CIERRE')
print('-'*20)
print(f'{fechas[0]}: {precio_eth[0]}')
print(f'{fechas[1]}: {precio_eth[1]}')
print(f'{fechas[2]}: {precio_eth[2]}')
print(f'{fechas[3]}: {precio_eth[3]}')
print(f'{fechas[4]}: {precio_eth[4]}')

REPORTE PRECIOS CIERRE
--------------------
2021-09-01: 345653
2021-09-02: 5000
2021-09-03: 4500
2021-09-04: 4400
2021-09-05: 1234

In [54]:
precio_eth.sort()

In [55]:
print('REPORTE PRECIOS CIERRE')
print('-'*20)
print(f'{fechas[0]}: {precio_eth[0]}')
print(f'{fechas[1]}: {precio_eth[1]}')
print(f'{fechas[2]}: {precio_eth[2]}')
print(f'{fechas[3]}: {precio_eth[3]}')
print(f'{fechas[4]}: {precio_eth[4]}')

REPORTE PRECIOS CIERRE
--------------------
2021-09-01: 1234
2021-09-02: 4400
2021-09-03: 4500
2021-09-04: 5000
2021-09-05: 345653

In [56]:
diccionario = {}
print(type(diccionario))

<class 'dict'>

In [57]:
dicc_cierre = {'2021-09-01':345653, '2021-09-02':5000, '2021-09-03':4500}
print(dicc_cierre)

{'2021-09-01': 345653, '2021-09-02': 5000, '2021-09-03': 4500}

In [58]:
dicc_cierre['2021-09-02']

5000

In [60]:
print('REPORTE PRECIOS CIERRE')
print('-'*20)
print(f'2021-09-01: {dicc_cierre["2021-09-01"]}')
print(f'2021-09-02: {dicc_cierre["2021-09-02"]}')

REPORTE PRECIOS CIERRE
--------------------
2021-09-01: 345653
2021-09-02: 5000

## Agregar un valor nuevo al diccionario

In [61]:
dicc_cierre['2021-09-04']=4034

In [62]:
dicc_cierre

{'2021-09-01': 345653,
 '2021-09-02': 5000,
 '2021-09-03': 4500,
 '2021-09-04': 4034}

## Modificar el valor de una llave de un diccionario

In [63]:
dicc_cierre['2021-09-04']=4834
dicc_cierre

{'2021-09-01': 345653,
 '2021-09-02': 5000,
 '2021-09-03': 4500,
 '2021-09-04': 4834}

## Borrar un llave/valor de un diccionario

In [64]:
del dicc_cierre['2021-09-04']

In [65]:
dicc_cierre

{'2021-09-01': 345653, '2021-09-02': 5000, '2021-09-03': 4500}

In [66]:
x = dicc_cierre.pop('2021-09-01')

In [67]:
dicc_cierre

{'2021-09-02': 5000, '2021-09-03': 4500}

In [68]:
x

345653

# Función `range( )`

In [70]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Pasos incrementales

## Pasos decrementales

# For loop

## For loop con una lista

## For loop con un diccionario

### For loops y llaves de un diccionario

### For loops y valores de un diccionario

### For loop y llave-valor de un diccionario

## Función `range` en For Loops