# <font color='navy'>Introducción a Algotrading</font>
<font color='blue'>Ing. Carlos Crespo Elizondo, MSF</font><br>
MF-013 Análisis de Inversión<br>
Clase del 26 de octubre 2021<br>

Maestría de Finanzas, Facultad de Economía<br>
UANL<br>

## Trabajando con datos financieros

> _"Claramente los datos le ganan a los algortimos.  Sin datos exahustivos tiendes a obtener predicciones no-exahustivas."_  Rob Thomas (Gerente General la división Analytics Business de IBM).

Tipos de información financiera (ejemplos).
<table>
    <th></th>
    <th>Datos Estructurados</th>
    <th>Datos No Estructurados</th>
    <tr>
        <td>Datos históricos</td>
        <td>Precios de cierre</td>
        <td>Noticias financieras</td>
    </tr>
    <tr>
        <td>Datos en tiempo real</td>
        <td>Precios bid/ask de las criptos</td>
        <td>Un tweet de Ellon Musk</td>

## Tipos de archivos

Hay muchos formatos de datos que provienen de fuentes externas.  Durante el resto del curso trabajaremos con archivos CSV y JSON's.

### Archivos CSV

Son archivos de texto simple, separados por comas.  CSV es la abreviación de "Comma Separated Values".<br><br>
En la mayoría de los archivos CSV, la primer fila representa los encabezados de las columnas.  Todas las filas posteriores, representan entradas de datos.  En otros casos, las primeras filas representan espcificaciones del archivo en cuestión. 

Por lo general es una descarga manual del usuario.

### Archivos JSON

Son archivos que guarda estructura de datos en formato JSON (JavaScript Object Notation).  Es un formato utilizado para transmitir datos entre una aplicación y un servidor.

## Archivos CSV y Python

Python tiene su propia librería para leer archivos CSV.  La librería se llama `csv`.  Una limitante es que no puedes cargar directamente un archivo de internet como lo hicmos con la función de Numpy `loadtxt( )`.  Para poder obtener datos de internet se ocuparía otra librería como `requests` o `urlib`, haciendo la obtención de datos de internet más complicada de lo que es.

Por lo anterior solo utilizaremos pandas para leer archivos csv.

## Importar precios de WALMEX

Pasos:
1. Importar datos de internet, guardarlos en un DataFrame de pandas y gurdarlo como "__*walmex*__"
1. Formato del DataFrame:
    * Index: Columna de fechas
    * Fecha más antigua:  Index 0
    * Fecha más reciente:  Index -1
    * Nombre y órden de las columnas: "Apertura", "Maximo", "Minimo", "Cierre"$^+$
1. Crear una columna del DataFrame con los Retornos logarítmicos de los precios de cierre diarios
1. Realizar las siguientes gráficas:
    * Precios de cierre
    * Retornos diarios
    * Histograma de los retornos
<br><br>

__**NOTAS:__<br>
$+$ No te recomiendo utilizar acentos al momento de definir el nombre de variables, columnas, df, etc.

### Lista de emisoras

<table>
    <tr>
      <th><center></center></th>
      <th><center></center></th>
      <th><center></center></th>
      <th><center></center></th>
  </tr>
    
  <tr>
    <td style="text-align:center;">ac</td>
    <td style="text-align:center;">alfaa</td>
    <td style="text-align:center;">alpeka</td>
    <td style="text-align:center;">alsea</td>
  </tr>
  
  <tr>
    <td style="text-align:center;">amxl</td>
    <td style="text-align:center;">asurb</td>
    <td style="text-align:center;">bimboa</td>
    <td style="text-align:center;">bolsaa</td>
  </tr>
  
  <tr>
    <td style="text-align:center;">cemexcpo</td>
    <td style="text-align:center;">elektra</td>
    <td style="text-align:center;">femsaubd</td>
    <td style="text-align:center;">gapb</td>
  </tr>
  
  <tr>
    <td style="text-align:center;">gcarsoa1</td>
    <td style="text-align:center;">gcc</td>
    <td style="text-align:center;">gmexicob</td>
    <td style="text-align:center;">grumab</td>
  </tr>
  
  <tr>
    <td style="text-align:center;">ienova</td>
    <td style="text-align:center;">kimbera</td>
    <td style="text-align:center;">kofubl</td>
    <td style="text-align:center;">labb</td>
  </tr>
  
  <tr>
    <td style="text-align:center;">livepolc1</td>
    <td style="text-align:center;">megacpo</td>
    <td style="text-align:center;">omab</td>
    <td style="text-align:center;">orbia</td>
  </tr>

  <tr>
    <td style="text-align:center;">penoles</td>
    <td style="text-align:center;">pinfra</td>
    <td style="text-align:center;">tlevisacpo</td>
    <td style="text-align:center;">walmex</td>
  </tr>

</table>

#### Obtener datos de más acciones

De la liga cambiar "walmex" por la acción de interés, por ejemplo "ac":<br>
http://bit.ly/oncedos-walmex ---> http://bit.ly/oncedos-ac

## Función `read_csv( )` de pandas

`read_csv( )` nos permite controlar varios parámetros y termina siendo un DataFrame.  La clase `DataFrame` tiene varios métodos que tienen muchos usos en el campo de las finanzas.

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [1]:
import pandas as pd
import numpy as np

### 1. Importar datos de Walmex

In [2]:
url = 'http://bit.ly/oncedos-walmex'
walmex = pd.read_csv(url)

In [5]:
walmex.head(10)

,Security,WALMEX* MF Equity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Start Date,31/12/2009 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,End Date,04/10/2019 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Period,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Currency,MXN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,PX_LAST,Change,% Change,PX_OPEN,Change,% Change,PX_HIGH,Change,% Change,PX_LOW,Change,% Change
6,04/10/2019,58.92,0.73,1.254511084,58.08,-0.11,-0.189035917,59.05,0.86,1.477917168,57.96,-0.23,-0.395256917
7,03/10/2019,58.19,0.79,1.37630662,57.4,0,0,58.31,0.91,1.585365854,57.11,-0.29,-0.505226481
8,02/10/2019,57.4,-1.08,-1.846785226,58.18,-0.3,-0.512995896,58.19,-0.29,-0.495896033,57.1,-1.38,-2.359781122
9,01/10/2019,58.48,0,0,58.49,0.01,0.017099863,59.14,0.66,1.128590971,58.25,-0.23,-0.393296854

#### Importar datos sin las primeras 6 líneas

In [6]:
walmex = pd.read_csv(url, skiprows=6)

In [7]:
walmex.head()

,Date,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
0,04/10/2019,58.92,0.73,1.254511,58.08,-0.11,-0.189036,59.05,0.86,1.477917,57.96,-0.23,-0.395257
1,03/10/2019,58.19,0.79,1.376307,57.40,0.00,0.000000,58.31,0.91,1.585366,57.11,-0.29,-0.505226
2,02/10/2019,57.40,-1.08,-1.846785,58.18,-0.30,-0.512996,58.19,-0.29,-0.495896,57.10,-1.38,-2.359781
3,01/10/2019,58.48,0.00,0.000000,58.49,0.01,0.017100,59.14,0.66,1.128591,58.25,-0.23,-0.393297
4,30/09/2019,58.48,0.13,0.222793,58.41,0.06,0.102828,58.99,0.64,1.096829,58.34,-0.01,-0.017138

In [8]:
walmex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455 entries, 0 to 2454
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2455 non-null   object
 1   PX_LAST     2455 non-null   float64
 2   Change      699 non-null    float64
 3   % Change    699 non-null    float64
 4   PX_OPEN     2455 non-null   float64
 5   Change.1    699 non-null    float64
 6   % Change.1  699 non-null    float64
 7   PX_HIGH     2455 non-null   float64
 8   Change.2    699 non-null    float64
 9   % Change.2  699 non-null    float64
 10  PX_LOW      2455 non-null   float64
 11  Change.3    699 non-null    float64
 12  % Change.3  699 non-null    float64
dtypes: float64(12), object(1)
memory usage: 249.5+ KB

### 2. Formato del DataFrame

#### 2.1 Index: Columna de fechas

Dos opciones para cambiar la columna "*__Date__*" al index:
1. Cambiar la columan "*__Date__*" a index de manera manual.
2. Importar los datos espcificando que la columna "_**Date**_" es el index.

##### Una vez ya importado el `DataFrame`

In [11]:
walmex.set_index('Date', inplace=True)

In [12]:
walmex.head()

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
04/10/2019,58.92,0.73,1.254511,58.08,-0.11,-0.189036,59.05,0.86,1.477917,57.96,-0.23,-0.395257
03/10/2019,58.19,0.79,1.376307,57.40,0.00,0.000000,58.31,0.91,1.585366,57.11,-0.29,-0.505226
02/10/2019,57.40,-1.08,-1.846785,58.18,-0.30,-0.512996,58.19,-0.29,-0.495896,57.10,-1.38,-2.359781
01/10/2019,58.48,0.00,0.000000,58.49,0.01,0.017100,59.14,0.66,1.128591,58.25,-0.23,-0.393297
30/09/2019,58.48,0.13,0.222793,58.41,0.06,0.102828,58.99,0.64,1.096829,58.34,-0.01,-0.017138

##### Importar datos especificando que la columan "Date" será el index

In [13]:
walmex = pd.read_csv(url, skiprows=6, index_col=0)

In [14]:
walmex.head()

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
04/10/2019,58.92,0.73,1.254511,58.08,-0.11,-0.189036,59.05,0.86,1.477917,57.96,-0.23,-0.395257
03/10/2019,58.19,0.79,1.376307,57.40,0.00,0.000000,58.31,0.91,1.585366,57.11,-0.29,-0.505226
02/10/2019,57.40,-1.08,-1.846785,58.18,-0.30,-0.512996,58.19,-0.29,-0.495896,57.10,-1.38,-2.359781
01/10/2019,58.48,0.00,0.000000,58.49,0.01,0.017100,59.14,0.66,1.128591,58.25,-0.23,-0.393297
30/09/2019,58.48,0.13,0.222793,58.41,0.06,0.102828,58.99,0.64,1.096829,58.34,-0.01,-0.017138

In [15]:
walmex.loc['04/10/2019']

PX_LAST       58.920000
Change         0.730000
% Change       1.254511
PX_OPEN       58.080000
Change.1      -0.110000
% Change.1    -0.189036
PX_HIGH       59.050000
Change.2       0.860000
% Change.2     1.477917
PX_LOW        57.960000
Change.3      -0.230000
% Change.3    -0.395257
Name: 04/10/2019, dtype: float64

In [16]:
walmex.iloc[0]

PX_LAST       58.920000
Change         0.730000
% Change       1.254511
PX_OPEN       58.080000
Change.1      -0.110000
% Change.1    -0.189036
PX_HIGH       59.050000
Change.2       0.860000
% Change.2     1.477917
PX_LOW        57.960000
Change.3      -0.230000
% Change.3    -0.395257
Name: 04/10/2019, dtype: float64

### 2.2 / 2.3 Orden de fechas

In [17]:
walmex.sort_index(axis=0, inplace=True)
walmex.head()

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
01/02/2011,34.29,NaN,NaN,33.99,NaN,NaN,34.44,NaN,NaN,33.80,NaN,NaN
01/02/2012,40.24,NaN,NaN,40.40,NaN,NaN,41.00,NaN,NaN,40.01,NaN,NaN
01/02/2013,41.84,NaN,NaN,41.31,NaN,NaN,41.90,NaN,NaN,41.24,NaN,NaN
01/02/2017,37.36,0.46,1.246612,37.06,0.16,0.433604,37.52,0.62,1.680217,37.04,0.14,0.379404
01/02/2018,46.13,-0.51,-1.093482,46.63,-0.01,-0.021441,47.07,0.43,0.921955,45.34,-1.30,-2.787307

In [18]:
walmex.head(20)

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
01/02/2011,34.29,NaN,NaN,33.990,NaN,NaN,34.44,NaN,NaN,33.800,NaN,NaN
01/02/2012,40.24,NaN,NaN,40.400,NaN,NaN,41.00,NaN,NaN,40.010,NaN,NaN
01/02/2013,41.84,NaN,NaN,41.310,NaN,NaN,41.90,NaN,NaN,41.240,NaN,NaN
01/02/2017,37.36,0.46,1.246612,37.060,0.16,0.433604,37.52,0.62,1.680217,37.040,0.14,0.379404
01/02/2018,46.13,-0.51,-1.093482,46.630,-0.01,-0.021441,47.07,0.43,0.921955,45.340,-1.30,-2.787307
01/02/2019,49.62,-0.58,-1.155378,50.380,0.18,0.358566,50.49,0.29,0.577689,49.510,-0.69,-1.374502
01/03/2010,31.88,NaN,NaN,31.845,NaN,NaN,32.10,NaN,NaN,31.535,NaN,NaN
01/03/2011,34.95,NaN,NaN,34.840,NaN,NaN,35.18,NaN,NaN,34.620,NaN,NaN
01/03/2012,40.42,NaN,NaN,40.140,NaN,NaN,40.60,NaN,NaN,40.120,NaN,NaN
01/03/2013,39.76,NaN,NaN,39.770,NaN,NaN,39.99,NaN,NaN,39.560,NaN,NaN
01/03/2016,42.49,NaN,NaN,42.710,NaN,NaN,42.84,NaN,NaN,42.360,NaN,NaN
01/03/2017,39.30,0.35,0.898588,39.280,0.33,0.847240,39.62,0.67,1.720154,38.980,0.03,0.077022
01/03/2018,45.13,1.13,2.568182,43.910,-0.09,-0.204545,45.25,1.25,2.840909,43.910,-0.09,-0.204545
01/03/2019,49.72,-0.13,-0.260782,50.270,0.42,0.842528,50.27,0.42,0.842528,48.900,-0.95,-1.905717
01/04/2011,35.84,NaN,NaN,35.650,NaN,NaN,36.19,NaN,NaN,35.630,NaN,NaN
01/04/2013,40.14,NaN,NaN,40.160,NaN,NaN,40.57,NaN,NaN,39.900,NaN,NaN
01/04/2014,30.61,NaN,NaN,30.730,NaN,NaN,31.19,NaN,NaN,30.360,NaN,NaN
01/04/2015,38.24,NaN,NaN,37.930,NaN,NaN,38.37,NaN,NaN,37.730,NaN,NaN
01/04/2016,41.77,NaN,NaN,41.000,NaN,NaN,41.88,NaN,NaN,40.760,NaN,NaN
01/04/2019,52.43,0.51,0.982280,52.000,0.08,0.154083,52.50,0.58,1.117103,51.730,-0.19,-0.365948

In [20]:
walmex = pd.read_csv(url, skiprows=6, index_col=0, parse_dates=True, dayfirst=True)

In [21]:
walmex.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2455 entries, 2019-10-04 to 2010-01-04
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PX_LAST     2455 non-null   float64
 1   Change      699 non-null    float64
 2   % Change    699 non-null    float64
 3   PX_OPEN     2455 non-null   float64
 4   Change.1    699 non-null    float64
 5   % Change.1  699 non-null    float64
 6   PX_HIGH     2455 non-null   float64
 7   Change.2    699 non-null    float64
 8   % Change.2  699 non-null    float64
 9   PX_LOW      2455 non-null   float64
 10  Change.3    699 non-null    float64
 11  % Change.3  699 non-null    float64
dtypes: float64(12)
memory usage: 249.3 KB

#### Método `sort_index( )`

#### Atributo `parse_dates`

In [22]:
walmex.sort_index(axis=0, inplace=True)
walmex.head()

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
2010-01-04,29.780,NaN,NaN,29.95,NaN,NaN,30.100,NaN,NaN,29.155,NaN,NaN
2010-01-05,30.365,NaN,NaN,29.78,NaN,NaN,30.585,NaN,NaN,29.690,NaN,NaN
2010-01-06,30.365,NaN,NaN,30.35,NaN,NaN,30.500,NaN,NaN,30.145,NaN,NaN
2010-01-07,29.805,NaN,NaN,30.50,NaN,NaN,30.500,NaN,NaN,29.755,NaN,NaN
2010-01-08,29.680,NaN,NaN,29.88,NaN,NaN,29.880,NaN,NaN,29.500,NaN,NaN

In [23]:
walmex.tail()

,PX_LAST,Change,% Change,PX_OPEN,Change.1,% Change.1,PX_HIGH,Change.2,% Change.2,PX_LOW,Change.3,% Change.3
Date,,,,,,,,,,,,
2019-09-30,58.48,0.13,0.222793,58.41,0.06,0.102828,58.99,0.64,1.096829,58.34,-0.01,-0.017138
2019-10-01,58.48,0.00,0.000000,58.49,0.01,0.017100,59.14,0.66,1.128591,58.25,-0.23,-0.393297
2019-10-02,57.40,-1.08,-1.846785,58.18,-0.30,-0.512996,58.19,-0.29,-0.495896,57.10,-1.38,-2.359781
2019-10-03,58.19,0.79,1.376307,57.40,0.00,0.000000,58.31,0.91,1.585366,57.11,-0.29,-0.505226
2019-10-04,58.92,0.73,1.254511,58.08,-0.11,-0.189036,59.05,0.86,1.477917,57.96,-0.23,-0.395257

### 2.4 Nombre y órden de las columnas: "Apertura", "Maximo", "Minimo", "Cierre"

Cambios finales al df:
1. Borrar las columnas que no utilizaremos
1. Renombrar las columnas a español
1. Ordenar las columnas en el formato O-H-L-C

#### 2.4.1 Borrar columnas

In [24]:
borrar_columnas = ['Change', '% Change','Change.1', '% Change.1','Change.2', '% Change.2','Change.3', '% Change.3']
walmex.drop(borrar_columnas, axis=1, inplace=True)

In [25]:
walmex.head()

            PX_LAST  PX_OPEN  PX_HIGH  PX_LOW
Date
2010-01-04   29.780    29.95   30.100  29.155
2010-01-05   30.365    29.78   30.585  29.690
2010-01-06   30.365    30.35   30.500  30.145
2010-01-07   29.805    30.50   30.500  29.755
2010-01-08   29.680    29.88   29.880  29.500

#### 2.4.2 Renombrar columnas

In [26]:
dicc_renombrar = {'PX_LAST':'Cierre', 'PX_OPEN':'Apertura', 'PX_HIGH':'Maximo', 'PX_LOW':'Minimo'}
walmex.rename(dicc_renombrar, axis=1, inplace=True)

In [27]:
walmex.head()

            Cierre  Apertura  Maximo  Minimo
Date
2010-01-04  29.780     29.95  30.100  29.155
2010-01-05  30.365     29.78  30.585  29.690
2010-01-06  30.365     30.35  30.500  30.145
2010-01-07  29.805     30.50  30.500  29.755
2010-01-08  29.680     29.88  29.880  29.500

#### 2.4.3 Reordenar columnas

In [28]:
orden_columnas = ['Apertura', 'Maximo', 'Minimo', 'Cierre']

In [29]:
walmex.reindex(columns=orden_columnas, inplace=True)

TypeError: reindex() got an unexpected keyword argument "inplace"

In [30]:
walmex.reindex(columns=orden_columnas)

            Apertura  Maximo  Minimo  Cierre
Date
2010-01-04     29.95  30.100  29.155  29.780
2010-01-05     29.78  30.585  29.690  30.365
2010-01-06     30.35  30.500  30.145  30.365
2010-01-07     30.50  30.500  29.755  29.805
2010-01-08     29.88  29.880  29.500  29.680
...              ...     ...     ...     ...
2019-09-30     58.41  58.990  58.340  58.480
2019-10-01     58.49  59.140  58.250  58.480
2019-10-02     58.18  58.190  57.100  57.400
2019-10-03     57.40  58.310  57.110  58.190
2019-10-04     58.08  59.050  57.960  58.920

[2455 rows x 4 columns]

In [31]:
walmex.head()

            Cierre  Apertura  Maximo  Minimo
Date
2010-01-04  29.780     29.95  30.100  29.155
2010-01-05  30.365     29.78  30.585  29.690
2010-01-06  30.365     30.35  30.500  30.145
2010-01-07  29.805     30.50  30.500  29.755
2010-01-08  29.680     29.88  29.880  29.500

In [32]:
walmex = walmex.reindex(columns=orden_columnas)

In [33]:
walmex.head()

            Apertura  Maximo  Minimo  Cierre
Date
2010-01-04     29.95  30.100  29.155  29.780
2010-01-05     29.78  30.585  29.690  30.365
2010-01-06     30.35  30.500  30.145  30.365
2010-01-07     30.50  30.500  29.755  29.805
2010-01-08     29.88  29.880  29.500  29.680

### Volver a hacer todo en una sola celda

In [34]:
del walmex

In [38]:
columnas_a_importar = ['Date', 'PX_OPEN', 'PX_HIGH', 'PX_LOW', 'PX_LAST']

walmex = pd.read_csv(url, skiprows = 6, index_col = 0, parse_dates = True, dayfirst = True, 
                 usecols = columnas_a_importar)

walmex.rename({'PX_LAST':'Cierre', 'PX_OPEN':'Apertura', 'PX_HIGH':'Maximo', 'PX_LOW':'Minimo'}, axis = 1,
          inplace = True)

orden_columnas = ['Apertura', 'Maximo', 'Minimo', 'Cierre']

walmex = walmex.reindex(columns=orden_columnas)

walmex.sort_index(inplace = True)

In [39]:
walmex.head()

            Apertura  Maximo  Minimo  Cierre
Date
2010-01-04     29.95  30.100  29.155  29.780
2010-01-05     29.78  30.585  29.690  30.365
2010-01-06     30.35  30.500  30.145  30.365
2010-01-07     30.50  30.500  29.755  29.805
2010-01-08     29.88  29.880  29.500  29.680

In [40]:
walmex.tail()

            Apertura  Maximo  Minimo  Cierre
Date
2019-09-30     58.41   58.99   58.34   58.48
2019-10-01     58.49   59.14   58.25   58.48
2019-10-02     58.18   58.19   57.10   57.40
2019-10-03     57.40   58.31   57.11   58.19
2019-10-04     58.08   59.05   57.96   58.92

## Crear funciones

Las funciones es un bloque de código diseñado para hacer un trabajo específico.

Las funciones pueden:
* Recibir valores
* Tener valores predeterminados *por defalut* para el caso en que no se definan valores
* NO RECIBIR VALORES!
* Regresar un resultado
* No regresar nada

In [41]:
a = 2
b = 3
suma1 = a+b
print(suma1)

5

In [42]:
i = 8
j = 10
suma2 = i+j
print(suma2)

18

In [43]:
y = 10
z = 20
suma_n = y + z
print(suma_n)

30

In [44]:
def funcion_sumar(valor_1, valor_2):
    suma = valor_1 + valor_2
    print(suma)
    
    return suma

In [45]:
suma_n = funcion_sumar(10, 20)

30

In [46]:
suma_n

30

In [47]:
suma1 = funcion_sumar(100,200)

suma2 = funcion_sumar(10,40)

suma3 = funcion_sumar(3,3)

300
50
6

In [48]:
suma2

50

In [49]:
suma3

6

### Función para importar datos archivos de Bloomberg

In [54]:
def importar_bloomberg(accion):
    
    url = f'http://bit.ly/oncedos-{accion}'
    
    columnas_a_importar = ['Date', 'PX_OPEN', 'PX_HIGH', 'PX_LOW', 'PX_LAST']
    
    df = pd.read_csv(url, skiprows = 6, index_col = 0, parse_dates = True, dayfirst = True, 
                 usecols = columnas_a_importar)
    
    df.rename({'PX_LAST':'Cierre', 'PX_OPEN':'Apertura', 'PX_HIGH':'Maximo', 'PX_LOW':'Minimo'}, axis = 1,
          inplace = True)
    
    orden_columnas = ['Apertura', 'Maximo', 'Minimo', 'Cierre']
    
    df = df.reindex(columns=orden_columnas)
    df.sort_index(inplace = True)
    
    return df

In [55]:
ac = importar_bloomberg('ac')

In [56]:
ac.tail()

            Apertura  Maximo  Minimo  Cierre
Date
2019-09-30    108.00  108.78  106.20  106.67
2019-10-01    106.52  108.79  106.20  108.31
2019-10-02    107.69  108.44  107.01  108.08
2019-10-03    107.79  108.14  106.50  107.36
2019-10-04    108.24  109.66  107.50  109.42

In [57]:
alfaa = importar_bloomberg('alfaa')

In [59]:
alfaa.head()

            Apertura  Maximo  Minimo  Cierre
Date
2009-12-31     8.107   8.450   8.060   8.342
2010-01-04     8.342   8.781   8.342   8.745
2010-01-05     8.750   8.980   8.581   8.611
2010-01-06     8.609   8.799   8.609   8.677
2010-01-07     8.677   8.677   8.493   8.627

#### Hacer librería HERRAMIENTAS FINANCIERAS
Esta sección lo hicimos en el archivo de python `herramientas_financieras.py`

#### Probar librería HERRAMIENTAS FINANCIERAS en otra libreta
Esta sección la hicimos en otra libreta de jupyter `20211102Clase8PruebasLibreria.ipynb`

### 2.3 Crear columna de retornos diarios
$$RetLogaritmico = ln(Precio_n) - ln(Precio_{n-1})$$<br>
$$ =ln\frac{Precio_n}{Precio_{n-1}}$$

In [60]:
walmex.head()

            Apertura  Maximo  Minimo  Cierre
Date
2010-01-04     29.95  30.100  29.155  29.780
2010-01-05     29.78  30.585  29.690  30.365
2010-01-06     30.35  30.500  30.145  30.365
2010-01-07     30.50  30.500  29.755  29.805
2010-01-08     29.88  29.880  29.500  29.680

In [63]:
import numpy as np

walmex['Ret'] = np.log(walmex['Cierre'] / walmex['Cierre'].shift(1))

In [64]:
walmex.head()

            Apertura  Maximo  Minimo  Cierre       Ret
Date
2010-01-04     29.95  30.100  29.155  29.780       NaN
2010-01-05     29.78  30.585  29.690  30.365  0.019454
2010-01-06     30.35  30.500  30.145  30.365  0.000000
2010-01-07     30.50  30.500  29.755  29.805 -0.018614
2010-01-08     29.88  29.880  29.500  29.680 -0.004203

In [65]:
walmex.tail()

            Apertura  Maximo  Minimo  Cierre       Ret
Date
2019-09-30     58.41   58.99   58.34   58.48  0.002225
2019-10-01     58.49   59.14   58.25   58.48  0.000000
2019-10-02     58.18   58.19   57.10   57.40 -0.018641
2019-10-03     57.40   58.31   57.11   58.19  0.013669
2019-10-04     58.08   59.05   57.96   58.92  0.012467

In [66]:
walmex.dropna(inplace=True)

In [67]:
walmex.head()

            Apertura  Maximo  Minimo  Cierre       Ret
Date
2010-01-05     29.78  30.585  29.690  30.365  0.019454
2010-01-06     30.35  30.500  30.145  30.365  0.000000
2010-01-07     30.50  30.500  29.755  29.805 -0.018614
2010-01-08     29.88  29.880  29.500  29.680 -0.004203
2010-01-11     29.68  30.675  29.680  30.365  0.022817

#### Retornos en la escala logarítmica

In [68]:
walmex['Ret'].sum()

0.6823435643385636

#### Retornos en la escala números reales

In [69]:
( walmex['Cierre'].iloc[-1] - walmex['Cierre'].iloc[0] ) / walmex['Cierre'].iloc[0]

0.9403918985674298

In [71]:
np.exp(walmex['Ret'].sum()) - 1

0.9785090664875695

### 2.4 Graficar

#### 2.4.1 Precio de cierre

#### 2.4.2 Retornos

#### 2.4.3 Histograma