In [1]:
import herramientas_financieras as mf

## Cargar datos de walmex

In [2]:
walmex = mf.importar_bloomberg('walmex')

In [3]:
walmex.tail()

            Apertura  Maximo  Minimo  Cierre
Date
2019-09-30     58.41   58.99   58.34   58.48
2019-10-01     58.49   59.14   58.25   58.48
2019-10-02     58.18   58.19   57.10   57.40
2019-10-03     57.40   58.31   57.11   58.19
2019-10-04     58.08   59.05   57.96   58.92

## Cargar datos de ArcaContal

In [4]:
ac = mf.importar_bloomberg('ac')

In [5]:
ac.tail()

            Apertura  Maximo  Minimo  Cierre
Date
2019-09-30    108.00  108.78  106.20  106.67
2019-10-01    106.52  108.79  106.20  108.31
2019-10-02    107.69  108.44  107.01  108.08
2019-10-03    107.79  108.14  106.50  107.36
2019-10-04    108.24  109.66  107.50  109.42

## Sumar utilizando funcion_sumar

In [6]:
suma = mf.funcion_sumar(10,20)

30

In [7]:
suma

30